[submodule "git-extras"]
	path = vendor/git-extras
	shallow = true
	url = git://github.com/visionmedia/git-extras.git

[submodule "dircolors-solarized"]
	path = vendor/dircolors-solarized
	shallow = true
	url = git://github.com/seebi/dircolors-solarized.git

[submodule "vim-colors-solarized"]
	path = vendor/vim-colors-solarized
	shallow = true
	url = git://github.com/altercation/vim-colors-solarized.git

[submodule "fzf"]
	path = vendor/fzf
	shallow = true
	url = git://github.com/junegunn/fzf.git

[submodule "svn-stash"]
	path = vendor/svn-stash
	shallow = true
	url = git://github.com/frankcortes/svn-stash.git
