# Lots of junk goes in here.
/caches/
/backups/

# Don't store Vim's history.
/link/.config/

# Top secret stuff!
/link/.ssh/authorized_*
/link/.ssh/id_*
/link/.ssh/*.pem
/link/.ssh/*.crt
/link/.ssh/known_hosts*

# Don't commit Vim plugins, vim-plug will install them.
/link/.vim/plugged

# Don't store Vim's history.
/link/.vim/.netrwhist

# Don't commit tmux plugins, tpm will install them.
/link/.tmux/plugins

# Don't commit tmux resurrect state.
/link/.tmux/resurrect

# Ignore any file with LOCAL in the name (good for per-machine vars/functions).
*LOCAL*

# Ignore explicitly as private marked files (*.private).
*.private

# VS Code
.vscode
