#!/bin/sh

# Use delta as diffing tool.
alias diff='delta --line-numbers --side-by-side --diff-highlight --hyperlinks'

# Removes all exited Docker containers.
alias docker_rm='docker rm -v $(docker ps --filter status=exited -q 2>/dev/null) 2>/dev/null'
# Removes all dangling / unnamed Docker images.
alias docker_rmi='docker rmi $(docker images --filter dangling=true -q 2>/dev/null) 2>/dev/null'
# Removes all dangling / unnamed Docker named volumes.
alias docker_rmv='docker volume rm $(docker volume ls -q -f dangling=true)'
# Kills all running Docker containers.
alias docker_killall='docker kill $(docker ps -q)'
# Lists every docker's name, IP and port mapping.
alias docker_ip='docker inspect --format "{{ .Name }} # {{ .NetworkSettings.IPAddress }} # {{ .NetworkSettings.Ports }}" $(docker ps -q) | tr -s "#" "\t"'
# Restarts all currently running containers.
alias docker_restartall='docker restart $(docker ps -q)'
# Some nice(r) statistics (top-like).
alias docker_stats='docker stats --format "table {{.Name}}\t{{.Container}}\t{{.CPUPerc}}\t{{.MemPerc}}\t{{.NetIO}}\t{{.BlockIO}}"'
# Get into a container using a shell.
alias docker_shell='_(){ docker exec -it $1 /bin/sh }; _'

# Lazy alias for lazygit.
alias lg='lazygit'

# Always make tmux use UTF-8, even if LC_ALL and others don't explicitly specify this.
alias tmux='tmux -u'
